<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="pioneer_index" lang="zh">

<head th:include="/thymeleaf/header :: header('先锋教育学校')"></head>

<body>
<style>
    /*content*/
    .col-md-3{
        text-align: left;
        background-color: grey;
        padding:0;
    }
    .col-md-3 h1{
        font-size:x-large;
        background-color: dimgray;
        color:white;
        padding:10px;
    }
    .content li{
        padding:10px;
        font-size: large;
    }
    .content li:hover{
        background-color: #989797;
    }
    .content a:hover{
        color:#FFFFFF;
    }
    /*正文-reports*/
    h2 {
        padding-bottom: 3px;
        font-size: xx-large;
        border-bottom: 4px solid #172556;
    }
    p{
        font-size: medium;
    }
    h1{
        font-size: x-large;
        margin-bottom: 10px;
    }
    /*返回顶部*/
    .back a{
        color:#0b0b0b;
        background-color:white;
        padding:5px;
        border:1px rgba(122, 121, 121, 0.56) solid;
        position:fixed;
        bottom:100px;
        right:60px;
        font-size: medium;
    }
    .back a:hover{
        background-color: #304340;
        color:white;
    }
</style>
<!-- banner -->
<div th:include="/thymeleaf/navTop :: navtop" class="sidebar-collapse"></div>
<!-- body -->
<!-- banner -->
<img id="banner" src="http://k.zol-img.com.cn/dcbbs/22463/a22462389_s.jpg" width="1600px">
<!-- //banner -->
<div class="container">
    <div class="col-md-12">
        <div class="col-md-3">
            <h1>关于我们</h1>
            <div class="content">
                <ul>
                    <li><a href="/about">建校历史</a></li>
                    <li><a href="/about">学校概况</a></li>
                    <li><a href="/about">教育理念</a></li>
                    <li><a href="/about">校园文化</a></li>
                </ul>
            </div>
            <h1>媒体报导</h1>
            <div class="content">
                <ul>
                    <li><a href="/aboutReports1">教育自救中的“先锋”现象</a></li>
                    <li><a href="/aboutReports2">先锋教育学校之前身“成都现代私塾”系列报道1</a></li>
                    <li><a href="/aboutReports3">看“现代私塾”怎么上课</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12">
            <div id="aboutReports1"></div>
                <h2>About Us</h2>
                <h1>教育自救中的“先锋”现象</h1>
                <p>
                    她，隐于民间<br>

                    一个只有4个老师和21位学生的民间微型学校，却创造了10年间输送了近300名学生到全美排名前100的大学，每一年班上可以保送10个学生到美国读书的奇迹。<br>

                    这所位于成都市新都区斑竹园镇的微型学校，目前全部师生只有26人，办学历史却已经有11年，共培养了310多名学生。宽大的草坪，典型的希腊式圆柱，两排长廊，尖屋顶，搭配着蓝天跟白云，一晃神，你会以为你身处欧洲的某所大学。有一种置身殿堂的味道，仿佛远处的尘埃都挤不进这个院子。然而身边人不断发出的“好安逸噻”会一下子把你拉回现实。<br>

                    这里是成都，先锋学校。<br>

                    近年，民间学校如雨后春笋般密集于市坊，多位优秀老师逃离体制内的苦闷、自办学堂，一些机构开始培养独立教师，这些本已不稀奇。当公众在讨论高考是否读港校、去美国大学还是留在大陆时，不少人已经在考虑留在大陆读高中还是去美国读高中，集体性排斥体制内学校。越来越多的人注重教育投资的重要性，更愿意让这个投资发生在教育环境好的国外，但教育投资不同于一般商业投资，很难把回报率数字化，只是家长给孩子的将来提供的一种可能，而生长于内部的民间教育现象，则让这个可能实体化了。<br>

                    3月初，笔者在宽窄巷子的一针一线，见到了神交已久的崔涛，那位被传言为“成都奥巴马”的人，之前在21世纪教育研究院，现在供职于成都一所特殊的民间学校。黝黑的皮肤，腼腆的笑容,落座后安安静静，全然不同于这些年见到的一些教育人，见面总是侃侃而谈，马上亮出自己的批判的宝剑。而崔涛，却带着一丝留洋归来的绅士味道，“教育是慢的艺术，需要慢慢地推行”，在帮阿信一岁多的宝宝收拾气球、书包和陪伴其玩耍时，更见到其与众不同，一个男体育老师，可以细心至此，就对那个学校充满了好奇。<br>

                    当笔者走进校园时，院子里还没有学生时，只有宁静的等待。校园里的寂静，正如外界对这所学校的感知。<br>

                    也许你会惊呼，“这么牛的学校！”然而使它突出的并不只是这一点。它的校园构造完全仿照美国的弗吉尼亚大学，这所由美国第三任总统杰斐逊创办的公立大学，迄今已有195年历史。和它一样，先锋学校设计有中央草坪，用于老师与学生谈话的炉子，旁边是只有高年级生才能坐的椅子，甚至还保留着师生同宿的传统，这样的校园文化多少有些异类。<br>

                    正如这里一个学生所说，“当夕阳的最后一抹光线正从美国弗吉尼亚大学圆顶建筑上消失的时候，在地球另一端，太阳正从沉睡中苏醒，将阳光洒向另一所同样充满活力的校园”。<br>







                    没有人沦为教育的角落<br>

                    外在的形式已经让先锋学校显露出卓尔不群的某些气质，那学校内部一直秉持的人文教育理念更是让人惊艳，当笔者走进图书馆，看到图书品类的丰富、学生笔记的厚度，仿佛在一所研究型大学的硕士班。这里的学生年龄只在14岁到18岁之间，有的在上初中，有的在上高中。根据学生愿意，有两种学制可供选择，初一读到高三的六年制，或高一读到高三的三年制。<br>

                    无论是六年制还是三年制，对待每一个学生，学校都为学生们量身定制个性化的培养方式，甚至每个人都有自己单独的课表，老师精细化指导。“英语、数学、社会科学、自然科学、学习学、批判性阅读、批判性写作、艺术、体育，这些都是学生们课表上的项目，也是我们教育要完成的内容。”在课堂上，学生们的课题从“行乞”这一社会现象到“青少年性教育”领域，任何有关人文社科的题目，都有可能被学生拿来做。<br>


                    四位老师加上一个校长，这就是创造了教育奇迹的先锋学校老师的全部阵容。这里的老师有何不同呢？对此，先锋学校创办人、校长刘晓伟先生回答“他们不仅要在课堂上扮演学习合伙人的重要角色，在生活中他们也是学生最亲密的人，24小时全天候陪伴在学生身边，给予他们时时的指导和帮助”。在这样的情况下，老师对学生的影响远远超出一般师生关系，崔涛告诉我们，甚至会有毕业多年的学生在半夜给老师打电话，询问生活上的难题，“师生之间，更多的像是朋友”。<br>

                    能成为如此，究竟依靠了什么途径呢？也许在教室可以发现吧，笔者第一次走进类似于联合国会场的教室，一个圆形阶梯教室，弧度270度都是并不密集的阶梯座位，90度那一面墙挂着一面巨大的幕布，这完全推翻了我们之前对于教室的理解：在这个教室里，每个人都可以发言，展示自己的成果，面对面辩论，讨论，最核心之处在于，大家看到的不再是无数个后脑勺，而是清晰的面庞，对话成为一种常态，没有人沦为教育的角落。学生可以各抒己见，争论是常有的事，课堂就成了有趣的地方。<br>




                    真正用人文理念引导教育<br>



                    因为大多数学生来先锋就是为了出国留学，所以英语教育也就是这个学校的特色，而对待英语，刘晓伟反对学生死记硬背，试卷更是少之又少，而是让他们去领事馆听讲座、去街头跟外国人聊天，他更倾向于用电影网络公开课的方式让学生们学习。当然，学校还有一个天然的优势，那就是优质的外教辅导。在学校的官网上，挂着《通往美国》《逻辑培养》《微观与宏观经济学》《微积分》系列课程，学生们可以自主学习，其中的《通往美国》系列更是提前为孩子们出国适应国外做好铺垫，里面系统介绍了美国医疗、法制、历史、军事、经济等方面知识，看完对美国各方面会有一个系统的了解。所以比较其先锋跟众多外国语学校的申请通过比率时，刘晓伟自豪地说，“外语学校可能在词汇量方面占优势，但先锋学生对西方文化的理解更胜一筹”。<br>

                    对待不同年龄段的孩子，刘晓伟因材施教，分配的学习任务也不同。2004年他已实行个性化教学，成效斐然，扩大招生规模后办成学校后，他依旧坚持。<br>

                    对于传统学校里面过于纠结于应试教育，忽视学生的人格教育及独立思考能力以及团队合作能力，刘晓伟鼓励学生用小组的形式共同完成课题，刘晓伟带的第一个学生侯韦谦高二做的两篇论文分别是《从经济学、社会学、人权的角度考察中国残疾人的现状》和 《从温州农民的市场化看中国的城市化进程》，为了完成第二篇论文，侯韦谦去了温州实地考察了两周，采访了很多的农民、企业家、政府官员，做足了功课，独立完成调查。<br>

                    安排他去做这样难度大的调研，是因为他希望培养出的孩子都有“五会”，即“学会做人、学会思考、学会学习、学会交流和学会合作。” 其实这“五会”也就是关注学生的性格，思维，知识建构和自我调控等方面，社会实践显得必不可少。<br>

                    学校请来很多大学老师来给学生们上课，打破学生们对于知识、对于生活固化的理解，因为老师讲的内容有时甚至相互冲突，比如支持儒家的和反对儒家的。刘晓伟说，“这样做是为了培养学生多元化思维，让他们自己在不同的说法里积极思索和探讨”， 当被问及效果如何时，他举了个例子，“我请了个大学教授来给学生们讲哲学，但讲了没一会，就给学生嘘下台，你知道为什么吗？”他笑了笑，“很意外，因为他对终极命题的解答非常肯定，学生们完全接受不了这种方式，他们已经有自己的想法，一旦上路了，便不再容易回到从前”。<br>

                    除了人文课程体系，学校还安排一些科学类课程，但课程依旧偏向人文。这位儒雅的校长向我们解释：“自然科学是人类进化的手段，人文是人类进化的主题，应该通过手段理解主题，特别是在中国这样一个整体缺乏人文关怀的社会里”。<br>

                    学习艺术，是学生们必不可少的必修课，但并非由学校授课，而是他们自己到社会上去寻找培训机构，学习某方面自己喜好的技能，最后的考试除了弹唱学习的曲子，还要写出论文，来阐释为什么选这个曲子以及它的历史背景等，这样的一门课，就完全突破之前学校内音乐课的范畴。<br>

                    如何从知识和方法的教育中走出来，真正有全方位满足人的成长需要的教育？刘晓伟希望学生都能有完善的人格，在男女交往问题、社交能力、社会责任感培养问题上，学校设置了多门课程。为了每个孩子到成年时具备完整的情感意识及能力，除了正常的在学校内的活动，还会经常组织春游秋游、冬夏令营、外出采风这样的活动，让二十几个人的小团队跟外面结合起来。<br>

                    现代公民的社会责任感，学校也组织学生们去社区、农村支教、做义工等等，据刘晓伟讲，“先锋学生每个学期都保持了一周的义工服务时间”。最近一次的活动，是崔涛他们带着学生去新场中学支教，完全不同于我们传统意义上的支教，他们在新场中学成立武术组、舞蹈组、棒球组、象棋组、羽毛球组，甚至还有英语组、阅读朗诵组和美术组，一同组织，一起互动，共同成长。<br>



                    什么样的教育成果让他如此执着<br>

                    读到这里，我们肯定他们在先锋的生活是愉快的，那从这里送出去的孩子在国外又能生活的如何呢？他们能很好的融入国外的环境吗？校长告诉我们，“绝大多数都能申请到好的学校，也能很快融入当地大学氛围，只有极少数没办法适应。”<br>

                    在先锋招收的三类学生中，第一种是完全从公立学校退学，过来做全日制的学生；第二种是非退学业余时间来上课的学生；最后一种是高考失败后来复习的，而恰恰是最后一种学生在顺利出国后会出现问题最多。“年纪太大，在国内已经形成自己的价值观了，出国后根本改变不了，肯定没办法适应。”校里教体育的崔涛老师这样分析。<br>

                    更多的孩子走的是侯韦谦这样的路，在被美国芝加哥湖畔森林学院录取后，凭着优秀的综合素质和论文，他获得学校每年2万美元的奖学金，进入大学后，他更是如鱼得水，大一、大二时，曾两次代表学校参加依利诺州全州大学数学竞赛，获得团体第3名、个人第5名，由于学习成绩年年都在全校前10名，他还额外获得了校长基金的奖励，国外大学的社团尤其多，他选择了篮球社团、学院“学生政府”这几个比较对他胃口的社团。侯韦谦说，在美国大学上课的时间并不是特别多，但课后的任务很重，不过他能轻松应付，“以前在传统的学校里，想的就是怎么考个好学校，竞赛得个好名次等等。刚出来接受刘老师指导时，就开始思考以后要干什么，然后看了很多书。”<br>

                    不过刘晓伟仍有担心，在教了学生之后，刘晓伟才意识到如何帮助孩子们申请比较好的美国大学是一个很关键的问题，在早年留学期间读是一所综合性大学，他对文理学院和社区大学缺乏了解，学生们同样也是。当他真正为学生们去申请才了解到社区大学比弗吉尼亚大学这样的综合性大学还好，它的通识教育社区功能，小班制，导师制都发挥的很好，就这样，第一届有三个学生去文理学院，第二年增长到10个学生。<br>

                    先锋出来的学生，很多是愿意回到中国当下的教育改革试验场的，刘晓伟带的最早的学生，一位年近30的男孩主动表示愿意回到先锋学校教书。最让人感动的莫过于，他收养的那位藏族的孩子，目前在美国念大三，8年前，刘晓伟在山里发现那个藏族孩子，初二辍学，刘晓伟把他带到了成都，后送到青海藏语学校，自己辅导他做人文阅读。但是出国护照办了一年，都没有办下来，刘晓伟不得不把孩子户口迁到自己名下，才送他去美国念书，目前也准备会先锋学校教书。<br>


                    为了解决问题的教育<br>

                    这所学校是怎么办起来的呢？<br>

                    刘晓伟，1979年考入四川大学外语系，1984-1985年在川大外语系任教，1986-1991年在汉语专业任教，1992-1994年赴美弗吉尼亚大学留学，攻读艺术史专业，同年底回到上海。<br>

                    2003年，有朋友找到正在做教育行政工作的刘晓伟，倾诉自己的苦恼，“孩子小时候都是很优秀的，到了十几岁怎么都出了心理问题”，并且请求刘晓伟进行干预指导。刘晓伟认为“出现这样的问题，是因为体制的原因，如果换一个评价体制，孩子可能得到完全不一样的评价”，<br>

                    但是要换一个评价体系，不是他力所能及的，他只好换一个环境，于是开始了“私塾式”家庭教育之路。刘晓伟开始这样的尝试，源自于自己在美国的经历，美国有很多homeschool，家长自己当老师，他在弗吉尼亚大学留学期间，也切身体会到学校一以贯之的人文素养和科学精神。<br>

                    于是，他被动地开始了自己的实验。最开始的学生都是熟人的孩子，他们每晚或隔一个晚上来刘晓伟家里，开始这种非正规的学习和上课。当学生在家里，家长们也会对没有形成学习能力的孩子进行督导，以让其更快地走上自我学习的道路。<br>


                    教育自救潮流中的机会与选择<br>

                    现在，刘晓伟带了21个学生，跟之前近300人留学的成绩相比，他更看重的是现在家长的需求，家长越发对学校教育不满，对孩子的健康成长提出自己的要求，开始了各式各样的教育自救行动。人们对教育期待有两类行动，一类是办先锋和先锋一样的民间学校，一类是选择离开大陆区就学。这也是现在民间教育机构、留学机构越来越多的原因。Mbr>

                    刘晓伟坦言先锋这样的教学班是没有办法大规模复制的，办学最艰难是找到高价值认同度的导师团队，“导师知识背景都是其次，首先要与孩子们相处融洽，同吃同住，全身心投入，只有这样的才适合做这里的教育事业”。而目前要在国内完成中学或者是初二之前的学业，民间学校是一个不可少的选择。2014年，还有更多的民间学校出现。<br>

                    但先锋和先锋一样的学校们，也只能满足小部分的家长需求。当家长这种需求得不到满足时，只能选择出国。对于中学是否应该出去读，很多希望孩子在国内接受相对完整的基础教育，又怕错过掌握语言文化好时机，情感上更舍不得孩子。<br>

                    一种观点认为：孩子单飞，前提是内心足够强大和成熟，否则不要去。高中时期正值青春期，有大量的成长性的生理心理问题需要解决，即使在父母身边都有无法正确解决的，立刻脱离父母，不能及时科学处理，问题更大。所谓的独立能力，在父母身边也可以培养。再好的学校教育都比不上家庭教育的力量，陪伴的重要性远大于老师和社会的影响。<br>

                    另一些人认为，美国私校主要是摆脱国内应试教育的压迫和各种形式的洗脑要更好融入美国文化和社会，还是要早去，<br>

                    先锋的看法是，最好是读完初二出国，国内目前的教育体系中，初二时一个转变时间点，之前的学习没有明确的选拨性考试任务，之后则不然，完全为了中高考而活着，扭曲了人性的。</p>
            </div>
        </div>
    </div>
</div>
<div class="back">
    <a href="#banner">返回<br>
        顶部</a>
</div>

<!-- footer -->
<div th:include="/thymeleaf/footer :: footer" id="copyright"></div>
<!-- //footer -->

<div th:include="/thymeleaf/js :: load_js"></div>
<script>
    $('.marquee').marquee({pauseOnHover: true});
</script>
</body>
</html>