<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="pioneer_index" lang="zh">

<head th:include="/common :: header('先锋教育学校')">
</head>

<body>
<!-- banner -->
<div th:include="/common :: navtop" class="sidebar-collapse"></div>

<!--item-1-->
<div class="s-home-layout s-home-item1">
    <div class="layout-inner">
        <h2 class="s-item-title">
            <span class="main-title"> <a href="/index"></a>照片展示模块</span>
            <span class="sub-title">幻灯片的形式，可以左右点击，更换照片</span>
        </h2>
    </div>
</div>

<!--item-2-->
<div class="s-home-layout s-home-item2">
    <div th:include="/common :: moveText" class="sidebar-collapse"></div>
    <div class="layout-outer">
        <div class="layout-inner">
            <h2 class="s-item-title">
                <span class="main-title">主页中心模块</span>
                <span class="sub-title">展示主页的主旨</span>
            </h2>
        </div>
    </div>
</div>

<!--item-3-->
<div class="s-home-layout s-home-item3">
    <div class="layout-outer">
        <div class="layout-inner">
            <h2 class="s-item-title">
                <span class="main-title">教师风采</span>
                <span class="sub-title"> LEARN FROM THE BEST</span>
            </h2>
            <ul class="item-list g-clearfix">
                <div class="main-box">
                    <a target="_blank" href="#" class="team-icon">
                        <img src="" alt="asdfasdfas">
                    </a>
                    <p>
                        XXX <br>
                        <span>XXX</span>
                    </p>
                    <div class="teacher-tips">
                        <h2>XXX</h2>
                        <span title="XXXXXXXXX">sdfasdfasdfasdfasdfasdf </span>
                    </div>
                </div>
                <div class="main-box">
                    <a href="javascript:void(0)" class="team-icon">
                        <img src="" alt="敬请期待">
                    </a>
                    <p class="no-teacher">
                        敬请期待
                    </p>
                </div>
                <div class="main-box">
                    <a href="javascript:void(0)" class="team-icon">
                        <img src="" alt="敬请期待">
                    </a>
                    <p class="no-teacher">
                        敬请期待
                    </p>
                </div>
                <div class="main-box">
                    <a href="javascript:void(0)" class="team-icon">
                        <img src="" alt="敬请期待">
                    </a>
                    <p class="no-teacher">
                        敬请期待
                    </p>
                </div>
                <div class="main-box">
                    <a href="javascript:void(0)" class="team-icon">
                        <img src="" alt="敬请期待">
                    </a>
                    <p class="no-teacher">
                        敬请期待
                    </p>
                </div>
                <div class="main-box">
                    <a href="javascript:void(0)" class="team-icon">
                        <img src="" alt="敬请期待">
                    </a>
                    <p class="no-teacher">
                        敬请期待
                    </p>
                </div>
            </ul>
        </div>
    </div>
</div>

<!--item-4-->
<div class="s-home-layout s-home-item4">
    <div class="layout-outer">
        <div class="layout-inner">
            <div class="s-item-title">
                <span class="main-title">毕业生录取榜单</span>
                <span class="sub-title">Graduates Admission Lists</span>
            </div>
            <div class="view-wrap">
                <div class="js-wrap kemu-wrap">
                    <ul class="js-shili js-kemuitem-list kemuitem-list g-clearfix" styles="width: 5890px; left: 0px;">
                        <li>
                            <div class="main-box">
                                <div class="graduate">
                                    <div class="graduate-top">
                                        <img class="graduate-pic"
                                             src="/static/images/3b280ac3e9cd5ef956f7f3ba4b9a9fe3.jpg">
                                        <div class="graduate-name">XXXX</div>
                                        <div class="graduate-score">XXXX</div>
                                        <div class="graduate-time">XXXXX</div>
                                    </div>
                                    <div class="graduate-content">
                                        Desriptions
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="main-box">
                                <div class="graduate">
                                    <div class="graduate-top">
                                        <img class="graduate-pic"
                                             src="/static/images/40f6518f63d9cc3d7fda430aac32db6a.png">
                                        <div class="graduate-name">小趙</div>
                                        <div class="graduate-score">asdfasdf</div>
                                        <div class="graduate-time">asdfasdfsadf</div>
                                    </div>
                                    <div class="graduate-content">
                                        asdfasdfasdfasdf。
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="main-box">
                                <div class="graduate">
                                    <div class="graduate-top">
                                        <img class="graduate-pic"
                                             src="/static/images/a1d844cb3afe9fa1c70c7e680c09a077.png">
                                        <div class="graduate-name">asdfasdf</div>
                                        <div class="graduate-score">asdfsadfasdf8</div>
                                        <div class="graduate-time">asfdasfd</div>
                                    </div>
                                    <div class="graduate-content">
                                        asdfasdfasdfasdf
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="col-sm-10">
                        <a></a>
                    </div>
                    <div class="col-sm-2">
                        <a href="/graduate">查看全部...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--item-5-->
    <div class="s-home-layout s-home-item5">
        <div class="layout-outer">
            <div class="layout-inner">
                <div class="s-item-title">
                    <span class="main-title">媒体报道</span>
                    <span class="sub-title">MEDIA  COVERAGE</span>
                </div>
                <ul class="item-list g-clearfix">
                    <li class="long">
                        <a href="#" target="_blank">
                            <img src="/static/images/new-medias1.png" styles="width:100%">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="/static/images/new-medias2.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="/static/images/new-medias3.jpg" styles="width:100%">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="/static/images/new-medias4.jpg" styles="width:100%">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="/static/images/new-medias5.png" styles="width:100%">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="/static/images/new-medias6.png" styles="width:100%">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="/static/images/new-medias7.png" styles="width:100%;">
                        </a>
                    </li>
                    <li class="long">
                        <a href="#" target="_blank">
                            <img src="/static/images/new-medias8.png" styles="width:100%">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="/static/images/new-medias9.jpg" styles="width:100%">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="/static/images/new-medias10.jpg">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="/static/images/new-medias11.jpg" styles="width:100%;">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="/static/images/new-medias12.png" styles="width:100%">
                        </a>
                    </li>
                    <li>
                        <a href=#" target="_blank">
                            <img src="/static/images/new-medias13.png" styles="width:100%">
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="/static/images/new-medias14.jpg" styles="width:100%">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div th:include="/common :: footer" id="copyright"></div>
    <!-- //footer -->

    <div th:include="/common :: load_js"></div>

    <script>
        $('.marquee').marquee({pauseOnHover: true});
    </script>
</div>
</body>
</html>