<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="pioneer_index" lang="zh">
<head th:include="/thymeleaf/header :: header('先锋教育学校')">
</head>

<body>
<style>
    a:hover{
        color: #6b9576;
    }
    .col-md-12 {
        font-size: xx-large;
        padding-bottom: 10px;
        border-bottom: #657068 3px solid;
    }
    .col-md-8{
        padding-right: 30px;
        padding-bottom:20px;
        margin-bottom: 20px;
        background-color: #ececec
    }
    .col-md-10 h1{
        font-size: xx-large;
        color: #e6e6e6;
    }
    .col-md-8 h2{
        border-bottom: #792329 3px solid;
        font-size:xx-large;
        color: #727272;
    }
    .col-md-2 {
        color: #cecece;
        padding: 10px;
        position: fixed;
        top: 180px;
        right: 230px;
        font-size:large;
        z-index:2;
        background-color: #9eaca5;
    }
    .col-md-2 h1{
        font-size: xx-large;
        border-bottom: solid #47668d 3px;
    }
    #hideMe1{
        display:none;
    }
    #hideMe2{
        display:none;
    }
    #hideMe3{
        display:none;
    }
    .pictures{
        height:400px;
        width:600px;
        margin:5px;
        padding:5px;
        border:dotted 3px black
    }
</style>
<!-- banner -->
<div th:include="/thymeleaf/navTop :: navtop" class="sidebar-collapse"></div>
<!--body -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 id="heading">每周动态</h1>
        </div>
        <div class="col-md-8">
            <h2 id="2018-4-17">2018-4-17</h2>
            <ul>
                <img src="../static/images/block.jpg" class="pictures">
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five.What are the most important things to be considered in design
                    Lorem Ipsum is simply dummy text of the printing an d typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five Continue Reading <a href="#">Learn more</a></li>
                <a onclick="display1()" id="display1">展开</a>
                <div id="hideMe1"><img src="../static/images/block.jpg" class="pictures">
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five.What are the most important things to be considered in design
                    Lorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five Continue Reading <a href="#">Learn more</a></li>
                <img src="../static/images/block.jpg" id="pictures">
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five.What are the most important things to be considered in design
                    Lorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five Continue Reading <a href="#">Learn more</a></li>
                    <a onclick="hide1()" >收起</a>
                </div>
            </ul>
            <!--其实呢这边可以用微信公众号的链接来显示，即写一小段简介，然后在结束的时候用一个"了解详 情"导到微信公众号的网页链接-->
        </div>
        <div class="col-md-8">
            <h2 id="2018-4-10">2018-4-10</h2>
            <ul>
                <img src="../static/images/block.jpg" class="pictures">
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five.What are the most important things to be considered in design
                    Lorem Ipsum is simply dummy text of the printing an d typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five Continue Reading <a href="#">Learn more</a></li>
                <a onclick="display2()" id="display2">展开</a>
                <div id="hideMe2">
                <img src="../static/images/block.jpg" class="pictures">
                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five.What are the most important things to be considered in design
                        Lorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five Continue Reading <a href="#">Learn more</a></li>
                <img src="../static/images/block.jpg" class="pictures">
                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five.What are the most important things to be considered in design
                        Lorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five Continue Reading <a href="#">Learn more</a></li>
                    <a onclick="hide2()">收起</a>
                </div>
            </ul>
        </div>

        <div class="col-md-8">
            <h2 id="2018-4-3">2018-4-3</h2>
            <ul>
                <img src="../static/images/block.jpg" class="pictures">
                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five.What are the most important things to be considered in design
                    Lorem Ipsum is simply dummy text of the printing an d typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five Continue Reading <a href="#">Learn more</a></li>
                <a onclick="display3()" id="display3">展开</a>
                <div id="hideMe3">
                <img src="../static/images/block.jpg" class="pictures">
                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five.What are the most important things to be considered in design
                        Lorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five Continue Reading <a href="#">Learn more</a></li>
                <img src="../static/images/block.jpg" class="pictures">
                    <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five.What are the most important things to be considered in design
                        Lorem Ipsum is simply dummy text of the printing and typetook a galley of type and scrambled it to make a type specimen book. It has survived not only five Continue Reading <a href="#">Learn more</a></li>
                    <a onclick="hide3()">收起</a>
                </div>
            </ul>
        </div>
        </div>
        <div class="col-md-2">
            <h1><a href="#heading">content</a></h1>
            <ul>
                <li><a href="#2018-4-17">2018-4-17</a></li>
                <li><a href="#2018-4-10">2018-4-10</a></li>
                <li><a href="#2018-4-3">2018-4-3</a></li>
            </ul>
        </div>
    </div>

    </div>


</div>
<!-- footer -->
<div th:include="/thymeleaf/footer :: footer" id="copyright"></div>
<!-- //footer -->

<div th:include="/thymeleaf/js :: load_js"></div>
<script>
    $('.marquee').marquee({pauseOnHover: true});
</script>
<script>
    function display1(){
        $("#hideMe1").css({display:"block"});
        $("#display1").css({display:"none"})
    }
    function hide1(){
        $("#hideMe1").css({display:"none"});
        $("#display1").css({display:"block"})
    }
    function display2(){
        $("#hideMe2").css({display:"block"});
        $("#display2").css({display:"none"})
    }
    function hide2(){
        $("#hideMe2").css({display:"none"});
        $("#display2").css({display:"block"})
    }
    function hide3(){
        $("#hideMe3").css({display:"none"});
        $("#display3").css({display:"block"})
    }
    function display3(){
        $("#hideMe3").css({display:"block"});
        $("#display3").css({display:"none"})
    }
</script>
</body>
</html>