<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="pioneer_index" lang="zh">

<head th:include="/common :: header('先锋教育学校')"></head>

<body>
<!-- banner -->
<div th:include="/common :: navtop" class="sidebar-collapse"></div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="../static/scripts/jquery.min.js"></script>
<script src="../static/scripts/jquery.easydropdown.js"></script>
<script type="text/javascript" src="../static/scripts/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
        });
    });
</script>
<body>
<div class="ourteam">
    <div class="container">
        <div class="team">
            <ul id="flexiselDemo3">
                <li>
                    <div class="team1">
                        <a href="#small-dialog6" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                            <img src="images/team1.jpg" class="img-responsive" alt="" /></a>
                        <div class="both">
                            <div class="both-left">
                                <h5>Sheak Reza</h5>
                                <p>CEO, Both kicu</p>
                            </div>
                            <div class="both-right">
                                <h6><a href="#">facebook</a> /<a href="#">twitter</a>
                                    <a href="#">dribbble </a>/<a href="#"> linkedin</a></h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="team1">
                        <a href="#small-dialog6" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                            <img src="images/team2.jpg" class="img-responsive" alt="" /></a>
                        <div class="both">
                            <div class="both-left">
                                <h5>Sheak Reza</h5>
                                <p>CEO, Both kicu</p>
                            </div>
                            <div class="both-right">
                                <h6><a href="#">facebook</a> /<a href="#">twitter</a>
                                    <a href="#">dribbble </a>/<a href="#"> linkedin</a></h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="team1">
                        <a href="#small-dialog6" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                            <img src="images/team3.jpg" class="img-responsive" alt="" /></a>
                        <div class="both">
                            <div class="both-left">
                                <h5>Sheak Reza</h5>
                                <p>CEO, Both kicu</p>
                            </div>
                            <div class="both-right">
                                <h6><a href="#">facebook</a> /<a href="#">twitter</a>
                                    <a href="#">dribbble </a>/<a href="#"> linkedin</a></h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="team1">
                        <a href="#small-dialog6" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                            <img src="images/team2.jpg" class="img-responsive" alt="" /></a>
                        <div class="both">
                            <div class="both-left">
                                <h5>Sheak Reza</h5>
                                <p>CEO, Both kicu</p>
                            </div>
                            <div class="both-right">
                                <h6><a href="#">facebook</a> /<a href="#">twitter</a>
                                    <a href="#">dribbble </a>/<a href="#"> linkedin</a></h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="team1">
                        <a href="#small-dialog6" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                            <img src="images/team1.jpg" class="img-responsive" alt="" /></a>
                        <div class="both">
                            <div class="both-left">
                                <h5>Sheak Reza</h5>
                                <p>CEO, Both kicu</p>
                            </div>
                            <div class="both-right">
                                <h6><a href="#">facebook</a> /<a href="#">twitter</a>
                                    <a href="#">dribbble </a>/<a href="#"> linkedin</a></h6>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
</body>
</html>


<!-- footer -->
<div th:include="/common :: footer" id="copyright"></div>
<!-- //footer -->

<div th:include="/common :: load_js"></div>
<script>
    $('.marquee').marquee({pauseOnHover: true});
</script>
</body>
</html>