<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="pioneer_index" lang="zh">

<head th:include="/thymeleaf/header :: header('先锋教育学校')">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/plugins/jquery/jquery-1.12.3.min.js"></script>
    <script src="../static/plugins/jquery/jquery.easydropdown.js"></script>
    <script type="text/javascript" src="../static/scripts/easing.js"></script>
</head>

<body>
<!-- banner -->
<div th:include="/thymeleaf/navTop :: navtop" class="sidebar-collapse"></div>
<div class="ourteam">
    <div class="container">
        <div class="team">
            <ul id="flexiselDemo3" class="nbs-flexisel-ul" style="left: -405px; display: block;">
                <li class="nbs-flexisel-item" style="width: 405px;">
                    <div class="team1">
                        <a href="#small-dialog6" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                            <img src="../static/images/1.jpg" class="img-responsive" alt=""></a>
                    </div>
                </li><li class="nbs-flexisel-item" style="width: 405px;">
                <li class="nbs-flexisel-item" style="width: 405px;">
                    <div class="team1">
                        <a href="#small-dialog6" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                            <img src="../static/images/1.jpg" class="img-responsive" alt=""></a>
                    </div>
                </li><li class="nbs-flexisel-item" style="width: 405px;">
                <li class="nbs-flexisel-item" style="width: 405px;">
                    <div class="team1">
                        <a href="#small-dialog6" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                            <img src="../static/images/1.jpg" class="img-responsive" alt=""></a>
                    </div>
                </li><li class="nbs-flexisel-item" style="width: 405px;">
                <li class="nbs-flexisel-item" style="width: 405px;">
                    <div class="team1">
                        <a href="#small-dialog6" class="b-link-stripe b-animate-go  thickbox play-icon popup-with-zoom-anim">
                            <img src="../static/images/1.jpg" class="img-responsive" alt=""></a>
                    </div>
                </li><li class="nbs-flexisel-item" style="width: 405px;">
            </li></ul><div class="nbs-flexisel-nav-left" style="top: 108.5px;"></div><div class="nbs-flexisel-nav-right" style="top: 108.5px;"></div></div></div>
</div>

<!-- footer -->
<div th:include="/thymeleaf/footer :: footer" id="copyright"></div>
<!-- //footer -->

<div th:include="/thymeleaf/js :: load_js"></div>
<script>
    $('.marquee').marquee({pauseOnHover: true});
</script>
<script src="../static/plugins/jquery/jquery-1.12.3.min.js"></script>
<script src="../static/plugins/jquery/jquery.easydropdown.js"></script>
<script type="text/javascript" src="../static/scripts/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
        });
    });
</script>
</body>
</html>