<!DOCTYPE HTML>
<html>
<head>
    <title>About</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="4useri Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easydropdown.js"></script>
</head>
<body>
<!-- header -->
<div class="banner">
    <div class="header">
        <!-- start h_menu4 -->
        <div class="h_menu4">
            <ul class="nav">
                <li><a href="index.html">HOME</a></li>
                <li><a href="http://flora-fauna.lofter.com/">BLOG</a></li>
                <li class="active"><a href="about.html">ABOUT</a></li>
                <script type="text/javascript" src="js/nav.js"></script>
            </ul>
        </div>
        <div class="container">
            <!-- end h_menu4 -->

        </div>
    </div>
    <div class="banner-info1">
        <div class="banner-col">
        </div>

        <div class="container">
            <h2>This is Flora's homepage</h2>
        </div>
    </div>
</div>
<!-- header -->
<!-- about -->
<div class="about">
    <div class="container">
        <div class="about-top">
            <section class="title-section">
                <ul class="breadcrumb breadcrumb__t">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">About</li>
                </ul>
            </section>
            <div class="about-desc">
                <h3><a href="#">About me</a></h3>
                <p>My name is 傅天煜, and you can call me Flora. I'm a middle school girl who loves electronic music and stick-figures. I'm fourteen years old now, and I spend a lot of my spare time watching duels between my favourite stick-figures and reading their story by fans. Sometimes I watch some Sci-Fics amd action movies.<br>
                </p>
                <button onclick="popup()">click me</button>
                >
            </div>
        </div>
        <div class="row"></div>
            <div class="col-md-4 ">
                <ul class="about-list">
                    <h4 class="m_2">Something about my life</h4>
                    <li>Now I am in Chengdu Pioneer School, an innovation school. I've been there for a term. Actually I was born in Shenzhen, a warm coastal city which is one of the most prosperous cities in China. I love playing with water and sand on the beach, but I prefer a cooler city rather than Shenzhen. Ironically, I can't swim at all! XD </li>
                    <li>There are so many tasty dim sums in Shenzhen: steamed fish, barbecue pork buns, steamed creamy custard buns, fried pigeons, osmanthus cakes etc. I miss them so much! There is fantastic spicy food in Chengdu, but I can't eat too much.</li>
                    <li>I am a new rhg fan. And I go to <a href="http://www.hyunsdojo.com">hyun's dojo</a> to watch the animations about stick-figures(or seriously, rock hard gladiators). Hyun is the founder of this website, and his character is Yoyo (the dark blue stick-figure who uses a nuclear yoyo as his weapon), and I also like him very much. <br></li>
                    <img class="pic" src="http://imgsize.ph.126.net/?imgurl=http://p1.music.126.net/NkDuj4qDkka7S7OT9gy1Cg==/109951162989145852.jpg_500x500x0x95.jpg">
                </ul>
            </div>
            <div class="col-md-8">
                <h3 class="m_3">Pictures</h3>
                <ul class="about_right">
                    <li class="test_img"></li>
                    <div class="clearfix" ><li>I also like Vocaloid very much! The Picture of miku is from a cover of her song.</li>
                    <li>I also like Wisp X, a young electronic music maker who uses cool covers for her albums.</li></div>
                    <img class="pic" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1521719601089&di=31bcd9fa78d96dee2f34df51c6e9af92&imgtype=0&src=http%3A%2F%2Fimgstore.cdn.sogou.com%2Fapp%2Fa%2F100540002%2F649560.jpg" width = 250px height = 250px >
                    <img class="pic" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1521776245464&di=3f88ae888ca00bc3531172ff5638b395&imgtype=0&src=http%3A%2F%2Fi1.hdslb.com%2Fbfs%2Farchive%2Fd5ffa8051f034c1337e06d98d77066e13821b60e.jpg" height="250px">
                    <img class="pic" src="https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1521766419&di=c292111ff8ff4a15bca3254c331833e6&src=http://i2.hdslb.com/bfs/face/5e1ef0b53e2b7a297f65719bc1da06b822215b9a.jpg" >
                    <img class="pic" src="http://imgsize.ph.126.net/?imgurl=http://p1.music.126.net/S4IAxTLf5wEUkBALjV9G3A==/109951163170472320.jpg_500x500x0x95.jpg" width="300px">
                    <img class="pic" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1521778211902&di=f7f7c38092b58cc7b9fbfe0a42701628&imgtype=0&src=http%3A%2F%2Fwww.itingwa.com%2Ffile%2Fimg%2F2016-10%2F20161003113241-NTQ2ODg3_500x500.jpg" width="350px">
                    <img class="pic" src="http://imgsize.ph.126.net/?imgurl=http://p1.music.126.net/wStLRnUqEPSX7YyrDPXCKA==/109951163044034953.jpg_500x500x0x95.jpg">
                </ul>
            </div>
        </div>
    </div>
<div class="footer-bottom"><p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
<!-- about -->
</body>
<script>
    function popup() {
        console.log("I'm here from console.log")
        callme("Welcome")
    }

    function callme(value) {
        alert(value)
    }
</script>
</html>