<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="footer-top">
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-4 footer-grid-left">
                    <h3>先锋教育微信公众号</h3>
                    <img style="width: 200px; height: 200px;" src="/static/images/weChat.jpg"/>
                </div>
                <div class="col-md-4 footer-grid-left">
                    <h3>联系我们</h3>
                    <ul>
                        <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>成都市新都区斑竹园镇</li>
                        <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+028 83964698</li>
                        <li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>17780622519</li>
                        <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a
                                href="875699924@qq.com">875699924@qq.com</a></li>
                        <li><span><i style="margin-left: -15px;" class="fa fa-qq"></i></span><a
                                style="margin-left: 15px;" href="//wpa.qq.com/msgrd?v=3&uin=821978672&site=qq&menu=yes">点击联系桔子老师</a>
                        </li>
                        <li><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>如果您想参观学校，请提前三日联系我们。
                        </li>
                    </ul>

                </div>
                <div class="col-md-4 footer-grid-left">
                    <h3>先锋教育学校简介</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                        <span>But I must explain to you how all this mistaken idea of denouncing
						pleasure and praising pain was born and I will give you a complete
						account of the system, and expound the actual teachings of the
						great explorer.</span>
                        <i>- The Entire TLG Team</i></p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-left">
                    <p> Copyright ©2018 成都知识城教育咨询有限公司 xianfengedu.org 版权所有</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>