<head xmlns:th="http://www.thymeleaf.org" th:fragment="header(title)">

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="创新教育 教育咨询 培训 留学"/>
    <meta content="" name="description"/>
    <meta content="先锋教育" name="author"/>

    <title th:text="${title}"></title>

    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link media="all" type='text/css' rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>
    <link media="all" type='text/css' rel="stylesheet" href="/static/styles/style.css"/>
    <link media="all" type='text/css' rel="stylesheet" href="/static/styles/custom.css"/>
    <link media="all" type='text/css' rel="stylesheet"
          href='https://fonts.googleapis.com/css?family=Oswald:400,300,700'>
    <link rel="stylesheet" href="/static/plugins/font/font.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>