<div th:fragment="load_js" xmlns:th="http://www.thymeleaf.org">

    <script src="/static/plugins/vue/vue.js"></script>
    <script src="/static/plugins/axios/axios.min.js"></script>
    <script src="/static/plugins/jquery/jquery-1.12.3.min.js"></script>
    <script src="/static/plugins/jquery/jquery.chocolat.js"></script>
    <script src="/static/plugins/jquery/jquery.flexisel.js"></script>
    <script src="/static/plugins/jquery/jquery.magnific-popup.js"></script>
    <script src="/static/plugins/jquery/jquery.marquee.js"></script>
    <script src="/static/plugins/jquery/jquery.slicebox.js"></script>
    <script src="/static/plugins/jquery/jquery.wmuSlider.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/plugins/confirm/confirm.js"></script>
    <script src="/static/plugins/jquery-validate/jquery.validate.min.js"></script>
    <script src="/static/plugins/jquery-validate/messages_zh.js"></script>
    <script src="/static/plugins/layer/laydate/laydate.js"></script>
    <script src="/static/plugins/jquery/jquery.metisMenu.js"></script>
    <script src="/static/plugins/md5/md5.js"></script>
    <script src="/static/scripts/easyResponsiveTabs.js"></script>
    <script src="/static/scripts/modernizr.custom.46884.js"></script>
    <script src="/static/scripts/modernizr.custom.min.js"></script>
    <script src="/static/scripts/responsiveslides.min.js"></script>

</div>