<div th:fragment="moveText" xmlns:th="http://www.thymeleaf.org">
    <div class="move-text">
        <div class="breaking_news">
            <h2>最新消息</h2>
        </div>
        <div class="marquee">
            <div class="marquee1"><a class="breaking" href="single.html">先锋学生会于2018年6月正式成立啦！</a></div>
            <div class="marquee2"><a class="breaking" href="single.html">The surprisingly successful president of
                the Philippines and peacemaking in the Philippines: Shaking it all up.</a></div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

